services:
    furina:
        container_name: furina
        build:
            context: .
            target: dev
            dockerfile: Dockerfile
        image: furina
        restart: unless-stopped
        env_file: .env.local
        command: npm run start:dev
        depends_on:
            - database
        # develop:
        #     watch:
        #         - action: rebuild
        #           path: ./package-lock.json
        #         - action: rebuild
        #           path: ./tsconfig.json
        #         - action: sync
        #           path: .
        #           target: /workspace/furina/src
        #           ignore:
        #             - node_modules
        #             - dist
        volumes:
            - .:/workspace/furina
            - node_modules:/workspace/furina/node_modules

    database:
        container_name: database
        image: postgres:15-alpine
        restart: unless-stopped
        env_file: .env.local
        ports:
            - 5432:5432
        volumes:
            - database-data:/var/lib/postgresql/data

volumes:
    node_modules:
    database-data:
